.chart {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr auto;
    column-gap: 32px;
    row-gap: 8px;
    color: peru;
}
.chart_pie {
    grid-row: 1/6;
    grid-column: 2/3;

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(#ffeebb 45%, transparent 45%),
    conic-gradient(
        #e25434 0%, #e25434 30%,
        #01a7b7 30%, #01a7b7 50%,
        #ffaa22 50%, #ffaa22 75%,
        #ea5591 75%, #ea5591 90%,
        #88aacc 90%);
}
.chart_piecir {
    grid-row: 1/6;
    grid-column: 2/3;

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(#ffeebb 45%, transparent 45%),
    conic-gradient(
        #e25434 0%, #e25434 30%,
        #01a7b7 30%, #01a7b7 50%,
        #ffaa22 50%, #ffaa22 75%,
        #ea5591 75%, #ea5591 90%,
        #88aacc 90%);
}