.chart {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr auto;
    column-gap: 32px;
    row-gap: 8px;
    color: white;
}
.chart_pie {
    grid-row: 1/6;
    grid-column: 2/3;
}